.app-view {
    height: 100vh;
    width: 100vw;
}
.jumbotron {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/518/464/non_2x/vector-stage-and-presentation-of-product-with-sport-light-on-dark-and-pink-showroom-studio-background.jpg");
    background-size: cover;
    height: 100%;
}